
LOCAL_AUTH_URL=http://localhost:3000
GITHUB_ID=bfeaf0f6775c934d42e3
NEXTAUTH_SECRET=9756558a3cc517f5e6f6a511b027ea5f
GITHUB_SECRET=9a9b3306f1c5edec7459305a07a4e3debc94387b
GOOGLE_CLIENT_ID=87553112954-ugu2s3rfoctch9h5c3ps5nfqrc0s3u7u.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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

# Create a Postgres database on Vercel: https://vercel.com/postgres
POSTGRES_URL=postgresql://postgres:postgres@localhost:5432/postgres
POSTGRES_PRISMA_URL=postgresql://postgres:postgres@localhost:5432/postgres
POSTGRES_URL_NON_POOLING=postgresql://postgres:postgres@localhost:5432/postgres
POSTGRES_USER=postgres
POSTGRES_HOST=localhost
POSTGRES_PASSWORD=postgres
POSTGRES_DATABASE=postgres
POSTGRES_PORT=5432

# Generate one here: https://generate-secret.vercel.app/32 (only required for localhost)
NEXTAUTH_SECRET=9756558a3cc517f5e6f6a511b027ea5f

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=diskon7@gmail.com
SMTP_PASSWORD=espliwjrhsfzwwid
SMTP_FROM_EMAIL=diskon7@gmail.com
